:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}
/* ================ COMPONENTS ================= */
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.34;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-link-first {
  color: #2e2f42;
}

.logo-link-second {
  color: #f4f4fd;
}
/* ================ /COMPONENTS ================= */

/* ================ HEADER ================== */
.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-style: normal;
}

.contact-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-number {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-link:hover,
.menu-link:focus,
.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}
/* ================ /HEADER ================== */
/* ================ HERO IMAGE ================= */
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  /* color: #ffffff; */
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #4d5ae5;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
}
/* ================ /HERO IMAGE ================= */
